.reusable-button {
  cursor: pointer;
  padding: 1.23rem 3.62rem;
  background-color: #ffce07;
  border: none;
  border-radius: 60px;
}

.reusable-button:hover {
  background-color: #f3c306;
}

.reusable-button-unfilled {
  cursor: pointer;
  padding: 1.23rem 3.62rem;
  background-color: transparent;
  border: none;
  border-radius: 60px;
}

.reusable-button-unfilled:hover {
  background-color: #f3c306;
}
